DATALAKE_CONN_HOST_PORT=3900
DATALAKE_ADMIN_HOST_PORT=3903
DATALAKE_WEBUI_HOST_PORT=3909
BACKEND_HOST_PORT=3000
FRONTEND_HOST_PORT=5173

# 32 bit random hexadecimal
GARAGE_RPC_SECRET=garagerpcsecretgaragerpcsecretgaragerpcsecretgaragerpcsecretgara

GARAGE_ADMIN_SECRET=superadminsecret
GARAGE_ADMIN_TOKEN=superadmintoken
GARAGE_DEFAULT_BUCKET=lakebucket

# 16 bit random hexadecimal
GARAGE_DEFAULT_ACCESS_KEY=garagedefaultaccesskeygaragedefa
# 32 bit random hexadecimal
GARAGE_DEFAULT_SECRET_KEY=garagedefaultsecretkeygaragedefaultsecretkeygaragedefaultsecretk
